.arrival-card {
  width: 100%;
  min-height: 178px;
  border-radius: 15px;
  border: none;
  overflow: hidden;
}
.arrival-card h3 {
  font-family: "Playfair Display", serif;
}
@media (max-width: 789px) {
  .arrival-card h3 {
    font-size: 0.9rem !important;
  }
}
.arrival-card h4 {
  font-size: 0.8rem;
}
@media (max-width: 789px) {
  .arrival-card h4 {
    font-size: 0.6rem;
  }
}
.arrival-card h3,
.arrival-card button {
  font-size: 0.8rem;
}
@media (max-width: 789px) {
  .arrival-card h3,
  .arrival-card button {
    font-size: 0.6rem;
  }
}
.arrival-card button {
  border-radius: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 1px;
}
.arrival-card .image {
  position: relative;
  border-radius: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 789px) {
  .arrival-card .image {
    height: 100px;
    margin-right: 5px;
  }
}
.arrival-card .image img {
  position: absolute;
  right: -20px;
  bottom: -25px;
  height: 145px;
}
.arrival-card .price {
  background-color: #d6c5bb;
  padding: 5px 15px;
  font-weight: inherit;
  border-radius: 50px;
  font-family: "Playfair Display", serif;
}
.arrival-card .price span {
  font-weight: 600;
}
@media (max-width: 500px) {
  .arrival-card .price {
    font-size: 0.9rem !important;
  }
}