.plant {
  position: relative;
  overflow: hidden;
}

.plant .avatar-img {
  position: absolute;
  right: -40px;
  top: 10px;
  width: 250px;
  rotate: -45deg;
  z-index: -1;
}

@media (max-width: 789px) {
  .plant .avatar-img {
    right: -60px;
    top: 10px;
    width: 150px;
  }
}

.plant h2 {
  text-align: start;
  color: var(--green);
  font-family: "Playfair Display", serif;
}

.plant .filter-bar {
  display: flex;
  justify-content: start;
  margin-bottom: 50px;
}

@media (max-width: 789px) {
  .plant .filter-bar {
    overflow-x: scroll;
  }
}

.plant .filter-bar::-webkit-scrollbar {
  height: 8px;
}

.plant .filter-bar::-webkit-scrollbar-track {
  background-color: #cccccc59;
}

.plant .filter-bar::-webkit-scrollbar-thumb {
  background-color: #163135;
  border-radius: 5rem;
}

.plant .filter-button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 10px 10px 0;
  cursor: pointer;
  transition: all 0.3s;
}

.plant .filter-button.active,
.plant .filter-button:hover {
  background-color: #163135;
  color: white;
  border: 1px solid #163135;
}

.plant .product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.plant .no-products-message {
  font-size: 1.5em;
  color: #ef4444;
  margin-top: 20px;
}
