.arrivila {
  margin: 80px 0;
}

@media (max-width: 789px) {
  .arrivila {
    margin: 45px 0;
  }
}

.arrivila h2 {
  text-align: center;
  color: var(--green);
  font-family: "Playfair Display", serif;
}

.arrivila .arrivila-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.arrivila .arrivila-inner .left,
.arrivila .arrivila-inner .right {
  width: calc(50% - 10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 789px) {
  .arrivila .arrivila-inner .left,
  .arrivila .arrivila-inner .right {
    width: 100%;
  }
}

.arrivila .arrivila-inner .left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.arrivila .arrivila-inner .right .arrival-card {
  height: 376px;
}

@media (max-width: 789px) {
  .arrivila .arrivila-inner .right .arrival-card {
    height: 276px;
  }
}

.arrivila .arrivila-inner .right .arrival-card img {
  position: absolute;
  right: -20px;
  bottom: -138px;
  height: 300px;
}

@media (max-width: 789px) {
  .arrivila .arrivila-inner .right .arrival-card img {
    position: absolute;
    right: -20px;
    bottom: -87px;
    height: 250px;
  }
}

@media (max-width: 500px) {
  .arrivila .arrivila-inner .right .arrival-card img {
    height: 175px;
  }
}
